/GeeksForGeeks/target
/EverGreenJavaPrograms/target
/Soapdemo/build
/RestLoginService/build
/SpringFramework/SpringBOOT/bin
/SpringFramework/SpringBOOT/target
/SpringFramework/SpringREST/target
/SpringFramework/SpringMVN/target
/SpringFramework/SpringMVC/target
/SpringFramework/SpringSecurityLoginDefault/target
/Protobuf/target
/DataDogDemo/target
/Docker/SampleSpringBootService/target
/target/
*/target/**
**/META-INF/
*.iws
*.iml
*.ipr